<div class="card-header text-center" > --Estadísticas Covid 19--</div>
<form class="card" #formregistro="ngForm">
  <div class="form-row">
    <div class="form-group col-sm-12 col-md-6 row text-center">
        
        <label for="inputEmail3" class="col-12 col-md-4 col-form-label"><p></p><b> País <i class="fas fa-flag"></i></b></label>
        <div class="col-12 col-md-8">
                <p></p>
            <select id="inputPais" name="inputPais" class="form-control" required [(ngModel)]= "pais">
              <option selected>--Elegir--</option>
                <option value="argentina">Argentina</option>
                <option value="usa">Estados Unidos</option>
                <option value="spain">España</option>
                <option value="italy">Italia</option>
                <option value="germany">Alemania</option>
            </select>
        </div>
    </div>
    

    <div class="form-group col-12 col-md-2 text-center">
        <div class="form-check">
            <p></p>
          <input class="form-check-input" type="checkbox" id="gridCheck" name="checkboxConfirmados" [(ngModel)]= "confirmados">
          <label class="form-check-label" for="gridCheck">
            <b> Confirmados <i class="fas fa-check"></i></b>
          </label>
        </div>
    </div>

    <div class="form-group col-12 col-md-2 text-center">
        <div class="form-check">
            <p></p>
          <input class="form-check-input" type="checkbox" id="gridCheck" name="checkboxCurados" [(ngModel)]= "curados">
          <label class="form-check-label" for="gridCheck">
            <b> Curados <i class="fas fa-medkit"></i></b>
          </label>
        </div>
    </div>

    <div class="form-group col-12 col-md-2 text-center">
        <div class="form-check">
            <p></p>
          <input class="form-check-input" type="checkbox" id="gridCheck" name="checkboxFallecidos" [(ngModel)]= "fallecidos">
          <label class="form-check-label" for="gridCheck">
            <b> Fallecidos <i class="fas fa-ribbon"></i></b>
          </label>
        </div>
    </div>

    <div class="row form-group col-12 col-md-10">
      <label class="col-12 col-md-8 text-center" ><b>Fecha (Debe seleccionar una fecha para ver las estadísticas):</b></label>
      <input class="form-control col-12 col-md-4" type="date" name="dateFecha" [(ngModel)]= "fecha"/>
    </div>

    <div class="col-12 col-md-2 text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!formregistro.form.valid" (click)="cargarInfo()"><b><i class="fas fa-viruses"></i> Mostrar</b></button>
    </div>
    
</div>
</form>

<div class="card-header text-center" *ngIf="mostrar1"><img src="assets/Imagenes/arg.png" class="content-table-img"> Argentina</div>
<div class="card-header text-center" *ngIf="mostrar2"><img src="assets/Imagenes/esp.png" class="content-table-img"> España</div>
<div class="card-header text-center" *ngIf="mostrar3"><img src="assets/Imagenes/usa.png" class="content-table-img"> Estados Unidos</div>
<div class="card-header text-center" *ngIf="mostrar4"><img src="assets/Imagenes/ale.png" class="content-table-img"> Alemania</div>
<div class="card-header text-center" *ngIf="mostrar5"><img src="assets/Imagenes/ita.png" class="content-table-img"> Italia</div>

<div class="table-responsive" *ngIf="mostrarTabla">

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Ubicación</th>
                <th *ngIf="confirmados">Confirmados</th>
                <th *ngIf="curados">Curados</th>
                <th *ngIf="fallecidos">Fallecidos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datosPais">
                <td>{{item.province}}</td>
                <td *ngIf="confirmados">{{item.confirmed}}</td>
                <td *ngIf="curados">{{item.recovered}}</td>
                <td *ngIf="fallecidos">{{item.deaths}}</td>
            </tr>
        </tbody>
    </table>
  </div>