<div class="container">
       <div class="row">
         <content class="col-12 col-md-9 bg-light">
          <div class="card-group">
            <div class="card col-12 col-md-6">
              <img src="../../../assets/Imagenes/españa.jpg" class="card-img-top card-img-pers" alt="...">
              <div class="card-body">
                <h5 class="card-title card-title-pers">CORONAVIRUS-ESPAÑA</h5>
                <p class="card-text">El regreso parcial del trabajo en España levanta críticas</p>
                <p class="card-text"><small class="text-muted">Ultima actualización hace 3 mins</small></p>
              </div>
            </div>
            <div class="card col-12 col-md-6">
              <img src="../../../assets/Imagenes/pdv.jpg" class="card-img-top card-img-pers" alt="...">
              <div class="card-body">
                <h5 class="card-title card-title-pers">MATERIAS PRIMAS</h5>
                <p class="card-text">Venezuela, potencia petrolera, se queda sin gasolina</p>
                <p class="card-text"><small class="text-muted">Ultima actualización hace 3 mins</small></p>
              </div>
            </div>
          </div> 
          <div class="card-group "> 
            <div class="card col-12 col-md-6">
              <img src="../../../assets/Imagenes/india.jpg" class="card-img-top card-img-pers" alt="...">
              <div class="card-body">
                <h5 class="card-title card-title-pers">ENFOQUE INTERNACIONAL</h5>
                <p class="card-text">
                  <i class="fas fa-headphones text-danger"></i> La epidémia llega a infraviviendas y zonas rurales de India</p>
                <p class="card-text"><small class="text-muted">Ultima actualización hace 3 mins</small></p>
              </div>
            </div>
            <div class="card col-12 col-md-6">
              <img src="../../../assets/Imagenes/tour.jpg" class="card-img-top card-img-pers" alt="...">
              <div class="card-body">
                <h5 class="card-title card-title-pers">CRÓNICAS DEPORTIVAS</h5>
                <p class="card-text"><i class="fas fa-headphones text-danger"></i> La Vuelta abre la puerta al Tour</p>
                <p class="card-text"><small class="text-muted">Ultima actualización hace 3 mins</small></p>
              </div>
            </div>
          </div>
         </content>

         <aside class="col-md-3 bg-light  d-none d-md-block">
          <img src="../../../assets/Imagenes//publicidad.png" class="aside-img" style="margin-top: 100px">
         </aside>

       </div>
</div>