<div class="row">
    <content class="col-md-8 d-none d-md-block bg-light">

       <div class="table-responsive">
           <table class="table table-striped ">

               <tr class="table-danger">
                   <th colspan="5" style="text-align: center;">
                    <h4>Conversor de Divisas</h4>
                    <p>Solo la columna de Pesos Argentinos -ARS- está actualizada (Web Service)</p>
                    </th>
               </tr>
               
               <tr>
               <th></th>
               <th></th>
               <th><img src="assets/Imagenes/usa.png" class="content-table-img"><p>USD</p></th>
               <th><img src="assets/Imagenes/eu.png" class="content-table-img"><p>EU</p></th>
               <th><img src="assets/Imagenes/arg.png" class="content-table-img"><p>ARS</p></th>
               </tr>
               <tr>
                   <td><img src="assets/Imagenes/usa.png" class="content-table-img"></td>
                   <td>1 USD <P>Inverso</P></td>
                   <td>1.000000 <p>1.000000</p></td>
                   <td>0.919901 <p>1.087074</p></td>
                   <td>{{convUSDaARS}} <p>{{convARSaUSD}}</p></td>    
               </tr>
               <tr>
                   <td><img src="assets/Imagenes/eu.png" class="content-table-img"></td>
                   <td>1 EUR <P>Inverso</P></td>
                   <td>1.087074 <p>0.919901</p></td>
                   <td>1.000000 <p>1.000000</p></td>
                   <td>{{convUEaARS}} <p>{{convARSaUE}}</p></td>
               </tr>
               <tr>
                   <td><img src="assets/Imagenes/uk.png" class="content-table-img"></td>
                   <td>1 GBP <p>Inverso</p></td>
                   <td>1.232332 <p>0.811469</p></td>
                   <td>1.133623 <p>0.882127</p></td>
                   <td>{{convUKaARS}} <p>{{convARSaUK}}</p></td>
               </tr>
               <tr>
                   <td><img src="assets/Imagenes/ru.png" class="content-table-img"></td>
                   <td>1 RUB <P>Inverso</P></td>
                   <td>0.013226 <p>75.61134</p></td>
                   <td>0.012166 <p>82.19511</p></td>
                   <td>{{convRUBaARS}} <p>{{convARSaRUB}}</p></td>
               </tr>
           </table>
       </div>
     
    </content>

    <aside class="col-sm-12 col-md-4 bg-light">
        <div class="row justify-content-center" style="background-color: rgb(40, 30, 182);">
           <h4 style="color: white;">Conversor de Divisas</h4>
       </div>
       
       <div class="row bg-primary justify-content-center">
           <form #formdivisa="ngForm">
             <div class="form-group"><p></p>
               <label for="inputNumber" style="color: white;">Cantidad</label>
               <input type="text" class="form-control" name="inputValor" id="inputTextValor" placeholder="Cantidad" style="text-align: right;" [(ngModel)]="transaccionConvert.from_value">
             </div>
             <div class="form-group">
                 <label for="select1" style="color: white;">De</label><p></p>
                 <select name="moneda" id="select1" [(ngModel)]="transaccionConvert.from_type">
                   <option value="s">--Elegir Moneda--</option>
                     <option value="USD">USD Dólares EEUU</option>
                     <option value="EUR">EU Euro EU</option>
                     <option value="ARS">ARS Pesos Argentinos</option>
                     <option value="GBP">GBP Libra Esterlina GBP</option>
                     <option value="RUB">RUB Rublo Ruso RUB</option>
                 </select>
             </div>
             <div class="form-group">
               <label for="select2" style="color: white;">A</label><p></p>
               <select name="moneda2" id="select2" [(ngModel)]="transaccionConvert.to_type">
                 <option value="s">--Elegir Moneda--</option>
                   <option value="USD">USD Dólares EEUU</option>
                   <option value="EUR">EU Euro EU</option>
                   <option value="ARS">ARS Pesos Argentinos</option>
                   <option value="GBP">GBP Libra Esterlina GBP</option>
                   <option value="RUB">RUB Rublo Ruso RUB</option>
               </select>
           </div>
           <div class="form-group">
               <label for="my-input" style="color: white;">Conversión: </label><p></p>
               <label for="my-input" style="color: white;"><i class="fas fa-dollar-sign"></i> {{transaccionConvert.result}}</label>
           </div>
           <div class="form-group">
               <button type="button" class="btn btn-warning  fas my-5 " (click)="convertir()"><h5>Convertir <i class="fas fa-arrow-right text-white " style="padding-left: 70px;"></i></h5></button>
           </div>
           </form>
         </div>
    </aside>
  </div>