<form class="card" #formcurso="ngForm">
    <div class="card-header text-center" > --Portal De Noticias--</div>
      <div class="card-body">
        <div class="row form-group">
          <label class="col-sm-12 col-md-4">Categoría:</label>
          <select name="categoria" id="categoria" class="form-control col-sm-12 col-md-8" required [(ngModel)]= "category" #categoria="ngModel">
            <option value="soccer">Fútbol</option>
            <option value="cricket">Cricket</option>
            <option value="basketball">Basketball</option>
        </select>
        <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger">
          <div *ngIf="categoria.errors.required">
              Debe seleccionar una categoría
          </div>
        </div>
        </div>
      <div class="row form-group">
        <button type="button" class="btn btn-primary" (click)="cargarNoticias()" [disabled]="!formcurso.form.valid"><i class="fas fa-chevron-circle-up"></i> Cargar Noticias</button>           
      </div>
    </div>
</form>
<div *ngFor="let item of noticias">
  <div class="col_12">
    <div class="card h-100">
      <img src="{{item.img}}" class="card-img-top img-sitio">
      <div class="card-body-text card-pers">
        <a href="">
          <h4><span class="badge badge-danger">{{item.tit}}</span></h4>
        </a>
        <p></p>
        <div [innerHTML]="item.con"></div>
      </div>
    </div>
  </div>
</div>