<form class="card" #formcurso="ngForm">
    <div class="card-header text-center" > --Formulario de Datos--</div>
      <div class="card-body">
        <div class="row form-group">
          <label class="col-sm-12 col-md-4"><i class="fas fa-at"></i> Usuario (Email):</label>
          <input class="form-control col-sm-12 col-md-8" type="text" placeholder="Ingrese su email" name="txtusuario" required [(ngModel)] = "asistente.usuario" #usuario="ngModel"/>
          <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" class="alert alert-danger">
            <div *ngIf="usuario.errors.required">
                Usuario es un campo requerido!
            </div>
          </div>
        </div>
      <div class="row form-group">
        <label class="col-sm-12 col-md-4" > Nombre de Organización:</label>
        <input class="form-control col-sm-12 col-md-8" type="text" placeholder="Ingrese nombre de su organización" name="txtnombreOrganizacion" required [(ngModel)] = "asistente.nombreOrganizacion" #nombreorganizacion="ngModel"/>
        <div *ngIf="nombreorganizacion.invalid && (nombreorganizacion.dirty || nombreorganizacion.touched)" class="alert alert-danger">
          <div *ngIf="nombreorganizacion.errors.required">
              El nombre de la Organización es un campo requerido!
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-12 col-md-4" > Solicitar Constancia:</label>
        <input class="form-control col-sm-12 col-md-8" type="checkbox" name="checkboxconstancia" [(ngModel)] = "constancia"/>
      </div>
      <div class="row form-group">
        <button type="button" class="btn btn-primary" style="margin-right: 20px;" (click)="agregarAsistente()" [disabled]="!formcurso.form.valid"><i class="fas fa-paper-plane"></i> Agregar</button>           
      </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Usuario</th>
            <th>Nombre de la Organización</th>
            <th><i class="far fa-check-square" style="color: red;"></i> ¿Requiere Constancia?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of asistentes">
            <td scope="row">{{item.usuario}}</td>
            <td>{{item.nombreOrganizacion | uppercase}}</td>
            <td>{{item.requiereConstancia}}</td>
        </tr>
    </tbody>
</table>
