<div class="card-header text-center" > --Horóscopo--</div>
<div class="row card-body" *ngIf="mostrar3">
  <label class="col-sm-12 col-md-4" >Fecha (Debe seleccionar una fecha para ver el Horóscopo):</label>
  <input class="form-control col-sm-12 col-md-8" type="date" name="dateFecha" [(ngModel)]= "fecha"/>
</div>
<div *ngIf="mostrar1">
<div class="card-group">
      <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/aries.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Aries</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('i')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/leo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Leo</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('y')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/sagitario.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Sagitario</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('s')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
   </div>

   <div class="card-group">
      <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/tauro.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Tauro</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('t')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/virgo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Virgo</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('v')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/capricornio.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Capricornio</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('u')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
   </div>

   <div class="card-group">
      <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/gemini.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Géminis</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('g')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/libra.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Libra</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('l')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/aquario.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Aquario</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('a')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
   </div>

   <div class="card-group">
      <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/cancer.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Cáncer</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('c')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/scorpio.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Scorpio</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('e')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-4" style="height: 175px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/Imagenes/signos/picis.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 bg-danger">
              <div class="card-body">
                <h5 class="card-title card-title-signo">Picis</h5>
                <p></p>
                <button type="button" class="btn btn-primary" (click)="mostrarSigno('p')"><i class="fab fa-hornbill"></i> Ver Horóscopo</button>
              </div>
            </div>
          </div>
        </div>
   </div>
</div>
<div class="card bg-light" *ngIf="mostrar2">
  <div class="row no-gutters">
    <div class="col-8">
      <div class="card-body">
        <h1 class="card-title bg-danger text-center">{{signo | uppercase}}</h1>
        <label class="col-sm-12 col-md-4" >Fecha: {{fecha}}</label>
        <p class="card-text bg">{{zodiaco.description}}</p>
      </div>
    </div>
    <div class="col-4">
      <img *ngIf="img1" src="assets/Imagenes/signos/aries.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img2" src="assets/Imagenes/signos/leo.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img3" src="assets/Imagenes/signos/sagitario.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img4" src="assets/Imagenes/signos/tauro.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img5" src="assets/Imagenes/signos/virgo.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img6" src="assets/Imagenes/signos/capricornio.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img7" src="assets/Imagenes/signos/gemini.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img8" src="assets/Imagenes/signos/libra.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img9" src="assets/Imagenes/signos/aquario.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img10" src="assets/Imagenes/signos/cancer.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img11" src="assets/Imagenes/signos/scorpio.jpg" class="card-img-personalizado" alt="...">
      <img *ngIf="img12" src="assets/Imagenes/signos/picis.jpg" class="card-img-personalizado" alt="...">
    </div>
    <button type="button" class="btn btn-primary" (click)="regresar()"><i class="fab fa-hornbill"></i> Regresar</button>
  </div>
</div>